html, body {
    height: 400vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.loaded {
    position: absolute;
    opacity: 0;
}

.loaded-img {
    height: 1px;
    width: 1px;
}

#curtain {
    height: 100vh;
    width: 100vw;
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: 100000000;
    background: #f6f5f5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform-origin: top;
}

#gif {
    height: 20vh;
    width: 20vh;
}

p {
    color: white;
    font-family: 'Raleway', sans-serif;
}

.menu a {
    text-decoration: none;
    color: white;
}

#menu-trigger {
    height: 4vh;
    width: 4vh;
    transform-origin: right;
}

#menu-trigger-container {
    height: 7vh;
    width: 7vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4eee6;
    position: fixed;
    top: 2vh;
    right: 2vh;
    z-index: 10000000;
}

#close-trigger {
    height: 3vh;
    width: 3vh;
    position: fixed;
    top: 3.5vh;
    right: 3.5vh;
    transform-origin: right;
    display: none;
    opacity: 0;
    z-index: 10000000;
}

.socials {
    height: 3vh;
    width: 3vh;
    position: fixed;
    top: 3.5vh;
    z-index: 10000000;
}

#fb {
    left: 3.5vh;
}

#ig {
    left: 8.5vh;
}

.header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    background: #f4eee6;
    top: 0;
    z-index: 100000;
    transform: scaleY(0);
    transform-origin: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 1000000;
    position: fixed;
    top: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.menu-fence{
    height: 100vh;
    width: 15vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000000;
    background: black;
}

#contact-container {
    height: 100vh;
    width: 100vw;
    background: black;
    z-index: 100000000;
    position: fixed;
    top: 0;
    transform: scaleY(0);
    transform-origin: top;
}

#close-container-trigger {
    height: 3vh;
    width: 3vh;
    position: fixed;
    top: 3.5vh;
    right: 3.5vh;
    transform-origin: right;
    display: none;
    opacity: 0;
    z-index: 100000001;
}

#fb-about {
    height: 3vh;
    width: 3vh;
    position: absolute;
    top: 4.5vh;
    left: 3vh;
}

#ig-about {
    height: 3vh;
    width: 3vh;
    position: absolute;
    top: 4.5vh;
    left: 9vh;
}

.information{
    color: white;
}

#about-title {
    font-size: 1.5em;
    position: absolute;
    top: 15vh;
    left: 10vw;
    border: 1px solid white;
    padding: 15px;
}

#about-name {
    font-size: 1em;
    position: absolute;
    top: 33vh;
    left: 15vw;
}

#about-phone {
    font-size: 1em;
    position: absolute;
    top: 40vh;
    left: 15vw;
}

#about-email {
    font-size: 1em;
    position: absolute;
    top: 47vh;
    left: 15vw;
}

#about-credit {
    font-size: 1.1em;
    position: absolute;
    bottom: 7vh;
    left: 15vw;
}

.contact-close {
    display: none;
    opacity: 0;
}

.container {
    background: #f4eee6;
    height: 400vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

#intro-name {
    color: black;
    font-size: 1rem;
    left: 10vw;
    position: absolute;
    font-weight: bold;
    width: max-content;
    margin: 0;
    opacity: 0;
}

#intro-p {
    color: black;
    font-size: 1.2rem;
    width: 80vw;
    margin-left: 10vw;
    line-height: 40px;
    margin-top: 5vh;
    margin-bottom: 0;
}

#intro-avt {
    width: 80vw;
    height: auto;
    margin-top: 3vh;
    border: 5px solid black;
    margin-left: 10vw;
}

.tab {
    display: inline-block;
    margin-left: 25px;
}

.prj-title {
    color: white;
    margin-left: 15vw;
    margin-top: 3vh;
    transform: translateX(-50vw);
}

#red {
    margin-top: 15vh !important;
}

.home-img-slider {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-slider {
    width: auto;
    height: 100%;
}

#img-slider-curtain {
    background: #f4eee6;
    height: 100vh;
    position: absolute;
    top: 0;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 1000;
    transform: scaleX(0);
}

#next-img {
    position: absolute;
    height: 4vh;
    width: 4vh;
    right: 3vh;
    top: calc(50vh - 2vh);
}

#prev-img {
    position: absolute;
    height: 4vh;
    width: 4vh;
    left: 3vh;
    top: calc(50vh - 2vh);
    display: none;
}

#img-title-container {
    width: 100vw;
    height: 15vh;
    position: absolute;
    background: #f4eee6;
    top: 85vh;
    left: 0;
    /* transform: scaleY(0); */
    transform-origin: bottom;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#img-title {
    color: black;
    font-size: 1.2rem;
    margin: 10px 0 0 0;
}

#slider-see-more {
    color: black;
    margin: 0 0 10px 0;
    font-size: 1rem;
}

.hr {
    width: 80%;
    height: 1px;
    background: black;
    border: 0px;
    margin-top: 5vh;
}

.videos {
    color: black;
    margin-top: 5vh;
    margin-bottom: 2vh;
    text-align: center;
    font-size: 1.25em;
}

#videos-guide {
    color: black;
    text-align: center;
    margin-top: 3vh;
    margin-bottom: 5vh;
}
  
@keyframes marquee {
    0% { transform: translateX(0); }
    50% { transform: translateX(-20%); }
    0% { transform: translateX(0); }
}

.vids {
    width: 100vw;
    height: 60vw;
}

#video1 {
    position: relative;
    left: 0;
    z-index: 1;
}

#video2 {
    position: absolute;
    left: 0;
    z-index: 0;
}

#videos-title {
    color: black;
    text-align: center;
}

.videos-trigger {
    opacity: 0;
}

.videos-indicator {
    height: 3px;
    width: 30px;
    border: .5px solid gray;
    margin: 0;
    position: absolute;
}

#videos-indicator-1 {
    left: calc(50vw - 30px - 5px);
    background: gray
}

#videos-indicator-2 {
    right: calc(50vw - 30px - 5px);
}